body{
	margin: 0;
	padding: 0;
}
/* le doy coordenadas al circulo para recrear el sol*/
#sol { 
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 40px;
}
/*le doy coordenadas al rectangulo para recrear pasto*/
#pasto{
	background-color: #49E83E;
	width: 2000px;
	height: 100px;
	position: absolute;
	bottom: 0;
}

/*le doy coordenadas a mi contenedor*/
#casita{
	width: 500px;
	height: 500px;
	position: fixed; /*uso fixed para que mi contenedor quede fijo en el mismo lugar aunque se mueva el documento*/
	left: 700px;
	bottom: 40px;
}

/*coordenadas y estilo al techo de la casa*/
#techo{
	border-bottom: 180px solid black;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	height: 0;
	width: 340px;
	position: absolute;
	top: 20px;
}

/*coordenadas y estilo de la chimenea*/
#chimenea{
	background-color: #FC475D;
	width: 40px;
	height: 90px;
	position: absolute;
	right: 10px;
	top: 60px;
}

/*coordenadas y estilo del humo*/
#humo1{
	width: 30px;
	height: 30px;
	background-color: grey;
	border-radius: 50%;
	position: absolute;
	left: 320px;
	top: 20px;
}

#humo2{
	width: 30px;
	height: 30px;
	background-color: grey;
	border-radius: 50%;
	position: absolute;
	left: 440px;
	top: 30px;
}

#humo3{
	width: 30px;
	height: 30px;
	background-color: grey;
	border-radius: 50%;
	position: absolute;
	left: 470px;
	top: 0px;
}

/*coordenadas y estilo de la estructura de la casa*/
#estructura{
	background-color: #381B06;
	width: 500px;
	height: 300px;
	position: absolute;
	bottom: 0;
}

/*coordenadas y estilo para la puerta de la casa*/
#puerta{
	background-color: #696B7F;
	width: 140px;
	height: 220px;
	position: absolute;
	left: 60px;
	bottom: 0;
}

/*estructura, coordenadas y estilo del corazón en la puerta*/
.heart {
    position: absolute;
    width: 90px;
    height: 80px;
    left: 20px;
    top: 40px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #FC475D;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}

/*coordenadas y estilo para la ventana de casa*/
#ventana{
	background-color: #DB5298;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 300px;
	bottom: 100px;
}
