body{
	margin: 0;
	padding: 0;
}
/* le doy coordenadas al circulo para recrear el sol*/
#sol { 
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 40px;
}
/*le doy coordenadas al rectangulo para recrear pasto*/
#pasto{
	background-color: #49E83E;
	width: 2000px;
	height: 100px;
	position: absolute;
	bottom: 0;
}

/*le doy coordenadas a mi contenedor*/
#casita{
	width: 500px;
	height: 500px;
	position: fixed;
	left: 700px;
	bottom: 40px;
}

/*coordenadas y estilo al techo de la casa*/
#techo{
	border-bottom: 180px solid black;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	height: 0;
	width: 340px;
	position: absolute;
	top: 20px;
}

/*coordenadas y estilo de la estructura de la casa*/
#estructura{
	background-color: #381B06;
	width: 500px;
	height: 300px;
	position: absolute;
	bottom: 0;
}

/*coordenadas y estilo para la puerta de la casa*/
#puerta{
	background-color: #696B7F;
	width: 140px;
	height: 220px;
	position: absolute;
	left: 60px;
	bottom: 0;
}

/*coordenadas y estilo para la ventana de casa*/
#ventana{
	background-color: #DB5298;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 300px;
	bottom: 100px;
}
